{% extends 'base.html.twig' %}

{% block title %}Accueil - Knowledge Learning{% endblock %}

{%block body %}

<section class="formation">

    <h1>Bienvenue sur Knowledge Learning</h1>

    <p>
        Développez vos compétences à distance grâce à nos cursus de formation, en musique, informatique, jardinage et cuisine.
    </p>

</section>   

<section class="home-section">

    <h2>Nos thémes de formation</h2>
    
    {% for theme in themes %}

</section>

<div class="theme">
    <a href={{ path('app_theme', { id: theme.id }) }}>{{ theme.name }}</a>
</div>

{% endfor %}

{% endblock %}

