{% extends 'base.html.twig' %}

{% block title %}Accueil - Knowledge Learning{% endblock %}

{%block body %}

<section class="formation">

    <h1>Bienvenue sur Knowledge Learning</h1>

    <p>
        Développez vos compétences à distance grâce à nos cursus de formation, en musique, informatique, jardinage et cuisine.
    </p>

</section>   

<section class="home-section">

    <h2>Nos thémes de formation</h2>

    <div class="theme">
        <acticle>Musique</acticle>
        <acticle>Informatique</acticle>
        <acticle>Jardinage</acticle>
        <acticle>Cuisine</acticle>
    </div>

</section>

{% endblock %}

