{% extends 'base.html.twig' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block body %}

<div class="container">

    <h1>{{ lesson.title }}</h1>

    <div class="lesson-card">

        <hr>
        <div class="lesson-content">
        
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

        </div>  
        
        <hr>

        <div class="lesson-actions">

            <a class="btn btn-success" href="{{ path('app_lesson_validate', { id: lesson.id }) }}">Valider la leçon</a>

        </div>

    </div>

    <a href="{{ path('app_course', { id: lesson.course.id }) }}">Retour au cursus</a>

</div>
{% endblock %}
